In [1]:
import pandas

In [2]:
pandas.__version__

'1.0.5'

In [3]:
import pandas as pd

In [4]:
#Pandas can be said as upgraded version of numpy. It stores in a dataframe.

In [5]:
#defining 1-D array of indexed data.
data=pd.Series([0.25,0.5,0.75,1.0])

In [6]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
print(data[1])
#slicing 
print(data[3:])

0.5
3    1.0
dtype: float64

NumPy array has an implicitly defined integer index used
to access the values, the Pandas Series has an explicitly defined index associated with
the values.

In [10]:
#defining pandas Series with different index

data=pd.Series([0.25,0.5,0.75,1.0],index=['a','b','c','d'])

In [11]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [12]:
#we can give anything as index
data=pd.Series([0.25,0.5,0.75,1.0],index=[1,3,5,7])

In [13]:
data

1    0.25
3    0.50
5    0.75
7    1.00
dtype: float64

In [14]:
data=pd.Series([0.25,0.5,0.75,1.0],index=['a',2,'c','d'])

In [15]:
data

a    0.25
2    0.50
c    0.75
d    1.00
dtype: float64

Pandas Series a bit like a specialization of a Python
dictionary. Hence we can create series directly from dict

In [16]:
square={1:1,2:4,3:9,4:16}

In [17]:
type(square)

dict

In [18]:
sq=pd.Series(square)

In [19]:
sq

1     1
2     4
3     9
4    16
dtype: int64

In [20]:
#lets now build two dim dataframe

In [21]:
height={'pandas':110,'python':115,'rabbit':90}
ht=pd.Series(height)

In [22]:
weight={'pandas':110,'python':60,'rabbit':50}
wt=pd.Series(weight)

In [23]:
classroom=pd.DataFrame({'height':ht,'weight':wt})

In [24]:
classroom

        height  weight
pandas     110     110
python     115      60
rabbit      90      50

In [25]:
#pandas is intelligent it automatically fills nan at empty location

data2=pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

In [26]:
data2

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

This Index object is an interesting
structure in itself, and it can be thought of either as an immutable array or as an
ordered set (technically a multiset, as Index objects may contain repeated values).

In [27]:
ind=pd.Index([2,3,5,7,9,])

In [28]:
ind[0]

2

In [29]:
#ind[0]=6 this will give error

In [30]:
data['a']
data['a':'c']

a    0.25
2    0.50
c    0.75
dtype: float64

In [31]:
classroom[(classroom['height']>90) & (classroom['weight']<100)]

        height  weight
python     115      60

In [32]:
#indexer: loc and iloc

In [33]:
classroom[:1]

        height  weight
pandas     110     110

In [34]:
classroom.iloc[0]

height    110
weight    110
Name: pandas, dtype: int64

In [35]:
classroom.loc['rabbit']

height    90
weight    50
Name: rabbit, dtype: int64

In [36]:
#creating new colum

In [37]:
classroom['bmi']=classroom['weight']/classroom['height']

In [38]:
classroom

        height  weight       bmi
pandas     110     110  1.000000
python     115      60  0.521739
rabbit      90      50  0.555556

In [39]:
classroom.loc[classroom.bmi>0.60,['height']]

        height
pandas     110

In [40]:
import numpy.random as rng
a=pd.DataFrame(rng.randint(10,size=(3,3)))

In [41]:
a

   0  1  2
0  8  5  3
1  0  0  8
2  7  1  0

In [42]:
b=pd.DataFrame(rng.randint(12,size=(4,4)))

In [43]:
a.add(b,fill_value=5)

      0    1     2     3
0   8.0  8.0  12.0   5.0
1   9.0  1.0  10.0  16.0
2  18.0  5.0  10.0  13.0
3  10.0  5.0  16.0  15.0

Handling Missing Values

Nan,None are type of null values